* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 30%;
    min-height: 75vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    border: 2px solid #0F2027;
    box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.25);
    position: relative;
}

.h2-wrap {
    width: 100%;
    height: 25vh;
    background: url(../img/waves.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    position: relative;
    z-index: 3;
    overflow: visible;
}

.h2-wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.header {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #254550;
    color: #fff;
    font-family: 'Lobster Two', sans-serif;
    letter-spacing: 1px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}