* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/waves.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(1.5px);
}

.container {
    width: 25%;
    min-height: 75vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 32px 16px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
}

.h2-wrap {
    width: 100%;
    height: 25vh;
    background: url(../img/waves.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
    position: relative;
    z-index: 3;
    overflow: visible;
}

.header {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: #295a6e;
    color: #fff;
    font-family: 'Lobster Two', sans-serif;
    letter-spacing: 1px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 100%;
    min-height: 10vh;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.input-wrapper input {
    border: 0;
    border-bottom: 1px solid #afafaf;
    padding: 0.5rem 0rem;
    outline: 0;
    font-size: 1rem;
}

.input-wrapper label {
    font-size: 0.9rem;
    color: #afafaf;
}

.input-wrapper:nth-of-type(3) {
    flex-direction: row;
    align-items: center;
}

.input-wrapper input[type="checkbox"] {
    margin-left: 0.75rem;
    cursor: pointer;
}

.input-wrapper:nth-of-type(3) label {
    color: #000000;
}

.login-form button {
    padding: 1rem;
    border: 3px solid #295a6e;
    background: #295a6e;
    margin-top: 1rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-form button:hover {
    background: none;
    color: #295a6e;
    font-weight: bold;
}

.dont-have-acc-btn {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #afafaf;
    font-weight: 300;
}

.dont-have-acc-btn a {
    margin-left: 0.5rem;
    text-decoration: none;
    color: #2c2c2c;
    font-weight: bold;
    letter-spacing: 0.25px;
}